body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 100, 231);
}

section {
    background: rgb(112, 32, 199);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}